@{
    ViewBag.Title = "UserPage";
}

<h2>Your User Page</h2>

<h3>About Your User Page</h3>

<p>
    Hello, this page is your personal user page. It is from this page that your presence on the Hobby Tracker website can
    be found. Please keep an eye on this space in the future, as we will be adding many new features to it. Thank you for
    using Hobby Tracker!
</p>