<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://hobo234.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>hobo234.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Hobo234</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Hobo234</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="HoboContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:fnl77u21j7.database.windows.net,1433;Initial Catalog=Hobo234_db;User ID=unidb@fnl77u21j7;Password=uohkex456" Name="Data Source=tcp:fnl77u21j7.database.windows.net,1433;Initial Catalog=Hobo234_db;User Id=unidb@fnl77u21j7;Password=uohkex456" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Hobo.DAL.HoboContext, Hobo" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)HoboContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:fnl77u21j7.database.windows.net,1433;Initial Catalog=Hobo234_db;User Id=unidb@fnl77u21j7;Password=uohkex456</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="HoboContext" />
  </ItemGroup>
</Project>