@model HobbyTracker.ViewModels.UserIndexData

@{
    ViewBag.Title = "Users";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UserPage</title>
</head>
<body>
    <div>
        @if (Model.Collections != null)
        {
        <h2>Personal User Page</h2>
        <table class="table">
            <tr>
                <th></th>
                <th>Your Collections</th>
            </tr>
            @foreach (var item in Model.Collections)
            {
                string selectedRow = "";
                if (item.CollectionID == ViewBag.CollectionID)
                {
                    selectedRow = "success";
                }
                <tr class="@selectedRow">
                    <td>
                        @Html.ActionLink("Select", "UserPage", new { CollectionID = item.CollectionID })
                    </td>
                    <td>
                        @item.CollectionName
                    </td>
                </tr>
            }
        </table>
        }
        
        @if (Model.CollectionItems != null)
        {
            <h3>Items In This Collection</h3>
            <table class="table">
                <tr>
                    <th>Item ID</th>
                </tr>
                @foreach (var item in Model.CollectionItems)
                {
                    <tr>
                        <td>
                            @item.CollectionID
                        </td>
                        <td></td>
                    </tr>
                }
                </table>
        }
    </div>
</body>
</html>
