@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>The Hobby Tracker is the creation of the WOU Crew, a team of four diligent students currently enrolled at
    Western Oregon University. The current implementation of this website can be traced to a pivotal meeting, which took
    place on February 27th, 2015. In the days and hours since then, the Hobby Tracker has continued to evolve and expand.
</p>

<p>Users of the Hobby Tracker, termed Collectors, are those individuals who wish to document and catalogue their collections of
    books, movies, musical recordings, games, or other commonly-collected items. With the ability to create items, and then add
    them to personally-controlled collections, Collectors can rest assured that their documentation system will have an online 
    home.
</p>

<p>Individual collections are not the end-all and be-all of the Hobby Tracker, either. In the works is community functionality,
    including customizable groups that any Collector can join, centered around both specific hobbies and specific regions. Please 
    check back for upcoming changes to the site.</p>