@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Hello. Feel free to contact us about any concerns or potential changes. For example, if you'd like a new genre added,
    just email us at the address below. Thank you!

<p>Our email: woucrew15@gmail.com</p>

<address>
</address>