@{
    ViewBag.Title = "Home Page";
}


<img src="/../images/HobbyTrackerLogo.gif" alt="Hobby Tracker Logo" height="300" width="750">


<p>
    Welcome to the personalized Hobby Tracker, developed by WOU Crew. With the Hobby Tracker, 
    you can create collections of items associated with your favorite hobby. Our application then
    helps you categorize and organize them so that a list of everything your hobbies consist of is all
    in one, easy-to-find place.

</p>

<p>

    We then invite you to connect with other users who share similar interests! Get involved and connect
    with people just like you! Create your profile, share your collections, and meet new people! Sign up
    for WOU Crew's Hobby Tracker now!

</p>

<div id="getStarted">
    <!--make a button that links to /controller/action -->
    <input type="button" value="Get Started" onclick="window.location.href='/Account/Register'">
</div>

<br>
<br>