@model IEnumerable<HobbyTracker.Models.NewUserModel>

@{
    ViewBag.Title = "Index";
}

<h1>Welcome!</h1>

<p>
    We are glad to have you here at WOU Crew's Hobby Tracker! Allow us to show you around!
</p>

<p>
    Over on the left you will find links to all the Hobby Tracker functionality.
</p>

<p>
    To get started, click the "My Collections" link and create your first collection.
</p>

<p>
    From there you can create new Items to put into your new collection as well!
</p>

<p>
    Don't forget to participate in the Community section!
</p>

<p>
    @Html.ActionLink("Click Here", "Create", "Collection") to get started making your first collection!
</p>

