@model IEnumerable<HobbyTracker.Models.Collection>

@{
    ViewBag.Title = "Collections";
}


<head>
    <link href="~/Content/bootstrap.css" rel="stylesheet">
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Content/styles.css" />
    <title>Collections</title>
</head>

<body>
    <div class=" panel panel-sucess">
        <div class="panel-heading text-center"><h2>All Collections Page</h2></div>
        <div class="panel-bady">
            

            <h2>All Collections</h2>

            <table class="table table-hover">
                <tr>

                    <th>
                        @Html.ActionLink("Name", "Index2", new { sortOrder = ViewBag.NameSortParm })
                    </th>
                    <th>
                        @Html.ActionLink("Genre", "Index2", new { sortOrder = ViewBag.GenreSortParm })
                    </th>
                 
                    <th></th>
                </tr>


                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.CollectionName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Genre.GenreName)
                        </td>
                  
                    </tr>
                }
            </table>
            
            </div>
        </div>
    </body>